* {
  margin: 0;
  padding: 0;
}
img {
  width: 500px;
}
.container {
  padding: 150px 20px;

  text-align: center;
}

.button-prev,
.button-next,
.slider-wrapper,
.dot {
  display: inline-block;
  vertical-align: middle;
}
.button-next,
.button-prev {
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  color: #ffffff;
}

.button-prev {
  position: absolute;
  top: 45%;
  left: 20px;
  transform: rotate(-135deg);
  z-index: 1;
}

.button-next {
  position: absolute;
  top: 45%;
  right: 20px;
  transform: rotate(45deg);
  z-index: 1;
}

.slider-wrapper {
  position: relative;
  width: 500px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px #3d3a35;
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: 1s;
}
.dots-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.dot:hover {
  background: #fcfcfc;
}

.dot:active {
  background: #fffcfc;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #969696;
  border-radius: 50%;
}
.active {
  background: #ffffff;
}
