* {
  margin: 0;
  padding: 0;
}
img {
  object-fit: cover;
  width: 100%;
}
.container {
  padding: 20px 20px;

  display: flex;
  justify-content: center;
}

.slider,
.dots-wrapper {
  display: flex;
}
.slider {
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px #3d3a35;
}
.slider-line {
  display: flex;
  align-items: center;
  transition: 1s;
}
.button-next,
.button-prev {
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  color: #ffffff;
}

.button-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%) rotate(-135deg);
  z-index: 1;
}

.button-next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(50%) rotate(45deg);
  z-index: 1;
}

.dots-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.dot:hover {
  background: #fcfcfc;
}

.dot:active {
  background: #fffcfc;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #969696;
  border-radius: 50%;
}
.active {
  background: #ffffff;
}
